/* nav */
nav {
  display: grid;
  justify-content: center;
  grid-template-columns: 35% 4rem 35%;
  grid-template-rows: 3.5rem;
}

@media(max-width: 800px) {
  nav {
    grid-template-columns: 1fr 5rem 1fr;
  }
}

.nav-left, .nav-right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* 二级导航 */
.nav-left>li{
  position: relative;
}

.nav-left>li:hover .nav-left-leval2 {
  display: block;
}

.nav-left-leval2 {
  display: none;
  position: absolute;
  min-width: 100%;
}

.nav-left-leval2 li a {
  display: block;
  padding: 0.5rem;
  text-align: center;
  border-bottom: 1px solid #CCC;
  background-color: black;
  color: white;
}

.nav-left-leval2 li a:nth-last-child(1) {
  border-bottom:none;
}

.nav-left-leval2 li a:hover {
  background-color: white;
  color: black;
}

/* 导航单个 */
.nav-item {
  text-transform: capitalize;
  margin: 0.5rem 0;
  height: 3.5rem;
  line-height: 3.5rem;
  color: white;
  cursor: pointer;
}

.nav-item:hover {
  color: #0096ff;
}

@media(max-width: 800px) {
  .nav-item {
    margin: 0.5rem 1vw;
  }
}

/* 用户名长度控制 */
.enter-back {
  max-width: 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 首个字符颜色 */
.nav-item span {
  color: black;
}

/* 退出登入 */
nav .out-login {
  color: #0096ff;
}

/* logo 部分 */
.logo {
  width: 4rem;
  height: 3.5rem;
  background-image: url(./../images/logo.png);
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: center 0.5rem;
}

.logo-box::before {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  content: "";
  border-width: 3.5rem 2rem 0;
  border-style: solid;
  border-color: white transparent transparent;
}

/* z-index: 0; BFC */
.logo-box {
  position: relative;
  z-index: 0;
  margin-top: 0;
  margin-bottom: 0;
}

